
@font-face {
	font-family: 'perfectDOS';
	src: url('perfectDOS.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    color: white;
    font-family: 'perfectDOS', monospace;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
	filter: url(#motion-blur-filter)
}

.link {
    color: white; /* Initial text color */
    text-decoration: none; /* Remove underline */
    transition: all 0s ease-out; /* Smooth transition */
}

.link:hover {
	color: black; /* Text color on hover */
  	background-color: rgb(240, 250, 255); /* Background color on hover */
	  box-shadow: 
      0 0 10px rgb(165, 183, 243);
}

/* Terminal Text Container */
.terminal {
    width: 80vw; /* Use viewport width (vw) for responsive sizing */
    height: 85vh; /* Use viewport height (vh) for responsive sizing */
    border: 3px solid white;
    padding: 0px;
    box-sizing: border-box;
    overflow-y: hidden; /* Change to hidden if you don't want scrolling */
    position: relative;
    z-index: 2; /* On top of the blurred copy */
}

.glowtext {
    color: #fff;
    text-shadow: 
      0px 0 10px rgb(165, 183, 243);
}
  

/* Additional styles can be added as needed */
